<section class="index-page">
  <div class="index-page-text">
    <p>Hello there and welcome!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores non odit, sed alias, repudiandae dicta accusantium laudantium nostrum facere doloribus nemo eius doloremque dolorem qui ea. Deserunt similique accusantium libero.</p>
  </div>
    <img src="/images/vancouver-cherry.jpg" alt="Cherry Blossoms in Vancouver">
</section>
