<div class="secure-area">
    <img src="/images/vancouver.jpg" alt="Pic of Vancouver"/>

    <section>
        <h2>Welcome To The Secure Area</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Expedita molestiae provident fugiat delectus recusandae aspernatur, libero, ipsa eum perspiciatis nemo magni qui? 
            Iusto quo obcaecati eum corporis suscipit deserunt atque.
        </p>
    </section>

    
</div>

